<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Email History">
      <!-- Search Input -->
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search Emails..." [(ngModel)]="searchTerm" />
        <span class="input-group-text"><i class="bi bi-search"></i></span>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Link</th>
              <th>Length</th>
              <th>Published On</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let summary of summaries; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ summary.title }}</td>
              <td>{{ summary.link }}</td>
              <td>{{ summary.published_on | date: 'MMM d, y h:mm a' }}</td>
              <td>
                <a (click)="openSummaryDetails(summary)" class="me-2 text-primary" title="View">
                  <i class="ti ti-eye"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>

